<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dgroomes.symlink-git-completion</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-c</string>
        <string><![CDATA[
SOURCE_FILE="/opt/homebrew/etc/bash_completion.d/git-completion.bash"
DEST_DIR="/Users/davidgroomes/.local/share/bash-completion/completions"
DEST_FILE="${DEST_DIR}/git"

if [[ ! -f ${SOURCE_FILE} ]]; then
    echo "The git completion file does not exist: ${SOURCE_FILE}" >&2
    exit 1
fi

if [[ ! -d ${DEST_DIR} ]]; then
    echo "The local completions directory does not exist: ${DEST_DIR}" >&2
    exit 1
fi

ln -sf "${SOURCE_FILE}" "${DEST_FILE}"
]]></string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/davidgroomes/Library/Application Support/dgroomes.symlink-git-completion.out</string>
    <key>StandardErrorPath</key>
    <string>/Users/davidgroomes/Library/Application Support/dgroomes.symlink-git-completion.err</string>
</dict>
</plist>
